@import url("/home/sidharth/.cache/wal/colors-waybar.css");

* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 10px;
    min-height: 0px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    border: none;
    border-radius: 0px;
    font-weight: bold;
}

#waybar {
    background: transparent;
    color: @foreground;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
    background: @background;
    margin-right: 5px;
    margin-left: 7px;
}

#workspaces button {
    color: @foreground;
    border-radius: 5px;
    padding: 0.2rem;
}

#workspaces button.active {
    color: @color5;
    border-radius: 5px;
}

#workspaces button:hover {
    color: @color3;
    border-radius: 5px;
}

#idle_inhibitor,
#privacy,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#custom-wallpaper,
#memory,
#temperature,
#custom-power {
    background-color: @background;
    margin: 5px 0px 5px 0px;
    padding: 0.5em;
}

#custom-wallpaper {
    border-radius: 0px 0px 0px 0px;
}

#memory {
    border-radius: 0px 5px 5px 0px;
}

#temperature.critical {
    background-color: #E42022;
}

#clock {
    color: @foreground;
    border-radius: 5px;
    margin-left: 0.6rem;
}

#battery {
    color: @foreground;
}

#battery.charging {
    color: #819583;
}

#battery.warning:not(.charging) {
    color: @color6;
}

#backlight {
    color: @foreground;
}

#battery {
    border-radius: 0;
}

#network {
    border-radius: 0;
}

#idle_inhibitor{
    color: @foreground;
    border-radius: 5px 0px 0px 5px;
    margin-left: 1rem;
}

#pulseaudio {
    color: @foreground;
    border-radius: 0px 0px 0px 0px;
}

#privacy {
    border-radius: 5em;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

#tray {
    border-radius: 5em;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
